.card-box {
  position: relative;
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
  text-align: center;

  background-color: var(--card-bg-color);
  border: var(--card-border-width) solid var(--card-border-color);
  border-radius: var(--card-border-radius);

  font-family: var(--card-font-family);
  font-size: var(--card-font-size);
  color: var(--card-font-color);

  padding: var(--card-padding);
  width: var(--card-size);
  height: var(--card-size);
  box-sizing: border-box; /* Ensure border + padding stay inside card size */

  transition: transform var(--transition-speed), box-shadow var(--transition-speed);
  box-shadow: var(--card-box-shadow);
}

.card-box.available {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: var(--card-box-shadow-hover);
}

.card-box.not-available {
  opacity: var(--card-opacity-disabled);
  cursor: not-allowed;
}

.card-stats {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  opacity: 0;
  transition: opacity var(--transition-speed);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--card-stats-bg-color);
  border-radius: var(--card-border-radius);
}

.card-stats > div {
  margin-left: var(--card-stats-margin);
  font-size: var(--card-stats-font-size);
  color: var(--card-stats-font-color);
}

.card-box:hover .card-stats {
  opacity: 1;
}