.game-loader {
}

.game-loading {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-page-bg);
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all; /* capture all events */
    z-index: 10;
    text-transform: uppercase;
}
