/* Container box */
.welcome-container {
  background-color: var(--color-container-bg);
  color: var(--color-text);
  max-width: 800px;
  height: 80%;
  text-align: center;
  border-radius: var(--radius-container);
  overflow: auto;
  overflow-x: hidden;
}

/* Title */
.welcome-title {
  padding: var(--spacing-container-padding);
  height: calc(100% + var(--spacing-container-padding));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.welcome-title h1 {
  font-size: var(--font-size-title);
  margin-bottom: var(--spacing-title-margin-bottom);
  margin-bottom: 9rem;
  margin-top: -4rem;
  text-transform: uppercase;
}

.welcome-title button {
  font-size: 150%;
}

.welcome-title h1, .welcome-title button {
  position: relative; /* Ensure text and button are above the background */
  z-index: 1;
  
}

.welcome-title-scroll-hint {
  position: absolute;
  bottom: calc(var(--spacing-container-padding) + 0.5rem);
  font-size: var(--font-size-subtitle);
  color: var(--color-text);
  opacity: 0.7;
  animation: bounce 2s infinite;
}

/* Text */
.welcome-instructions {
  padding: var(--spacing-container-padding);
  min-height: 100%;
}

.welcome-text {
  font-size: 100%;
  line-height: 1.5;
  margin-bottom: var(--spacing-text-margin-bottom);
  text-align: left;
}

.welcome-text-important {
  font-size: 110%;
  font-weight: bold;
  margin-bottom: var(--spacing-text-margin-bottom);
  text-align: left;
}

.welcome-text-important b {
  color: var(--pink-highlight);
}

.welcome-text svg {
  width: 2em;
  height: 2em;
  position: relative;
  top: 0.5rem;
  vertical-align: -0.1em;
  fill: var(--color-text);
}

.background-canvas {
  opacity: 0.25;
}

.background-cols {
  visibility: hidden;
}