/* Container box */
.welcome-container {
  background-color: var(--color-container-bg);
  color: var(--color-text);
  max-width: 800px;
  height: 80%;
  text-align: center;
  border-radius: var(--radius-container);
  overflow: auto;
}

/* Title */
.welcome-title {
  padding: var(--spacing-container-padding);
  height: calc(100% + var(--spacing-container-padding));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.welcome-title-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(88, 166, 255, 0.05) 1%, /* Blue with less transparency */
    rgba(88, 166, 255, 0.1) 25%, /* Slightly stronger blue */
    rgba(88, 166, 255, 0.15) 89%, /* Stronger blue */
    rgba(0, 0, 0, 0.1) 100%, /* Fade to black */
    transparent 90%
  ); /* Top-to-bottom gradient */
  filter: blur(3px) contrast(1.1) brightness(1.05); /* Add subtle randomness */
}

.welcome-title h1 {
  font-size: var(--font-size-title);
  margin-bottom: var(--spacing-title-margin-bottom);
  margin-bottom: 8rem;
  margin-top: -8rem;
  text-transform: uppercase;
}

.welcome-title button {
  font-size: 150%;
  border-color: #888;
}

.welcome-title h1, .welcome-title button {
  position: relative; /* Ensure text and button are above the background */
  z-index: 1;
  color: #888;
}

.welcome-title-scroll-hint {
  position: absolute;
  bottom: calc(var(--spacing-container-padding) + 0.5rem);
  font-size: 0.9rem;
  color: var(--color-text);
  opacity: 0.7;
  animation: bounce 2s infinite;
}

/* Text */
.welcome-instructions {
  padding: var(--spacing-container-padding);
  min-height: 100%;
}

.welcome-text {
  font-size: var(--font-size-text);
  line-height: 1.5;
  margin-bottom: var(--spacing-text-margin-bottom);
  text-align: left;
}

.welcome-text svg {
  width: 2em;
  height: 2em;
  position: relative;
  top: 0.5rem;
  vertical-align: -0.1em;
  fill: var(--color-text);
}